﻿@model MyAnalytics.Web.Security.LogOnModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My analytics</title>
    
    <script src="~/Content/Js/Externals/jquery/dist/jquery.js"></script>
</head>
<body>
    <div>
        @using (Html.BeginForm("LogOn", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            <button type="submit">Login</button>
            
            @Html.ValidationSummary()
            @Html.HiddenFor(x => x.ReturnPath, new { @data_role = "return-path" })
        }
        
        @Html.ActionLink("Sign up", "SignUp", "Account")
    </div>
    
    <script src="~/Content/Js/Externals/gsoft/gsoft.js"></script>
    
    <script>
        (function($) {
            "use strict";

            var returnPathElement = $("[data-role=\"return-path\"]");

            if (!g.isNullOrEmpty(returnPathElement.val())) {
                var url = "";

                if (!g.isNullOrEmpty(window.location.hash)) {
                    url = window.location.hash;
                }

                returnPathElement.val(url);                
            }
        })(jQuery);
    </script>
</body>
</html>
