﻿@model MyAnalytics.Web.Security.SignUpModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My analytics</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
        {
            <button type="submit">Sign up</button>
        }
    </div>
</body>
</html>
