﻿.dashboard-query-component {
    width: 245px;
    height: 140px;
    border: 1px solid #000;
    display: inline-block;
}
.dashboard-query-component .is-better-indicator {
    color: green;
}
.dashboard-query-component .is-worst-indicator {
    color: red;
}