﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My analytics</title>
    
    <link href="~/Content/Css/index.css" rel="stylesheet" />
    <link href="~/Content/Css/Dashboard/dashboard.query.css" rel="stylesheet" />

    <script src="~/Content/Js/Externals/jquery/dist/jquery.js"></script>
</head>
    <body>
        <div class="g-header">
            <span>@this.ViewBag.UserEmail</span>
            <a href="@this.Url.Action("LogOff", "Account")">Logout</a>
        </div>
        <div class="g-content" data-role="spa-container">
        </div>
        <div class="g-footer">
        </div>
    
        <script src="~/Content/Js/Externals/moment/moment.js"></script>
        <script src="~/Content/Js/Externals/chartjs/chart.js"></script>
        <script src="~/Content/Js/Externals/knockout/dist/knockout.debug.js"></script>
        <script src="~/Content/Js/Externals/gsoft/path.js"></script>
        <script src="~/Content/Js/Externals/gsoft/gsoft.js"></script>
        <script src="~/Content/Js/Externals/gsoft/gsoft.observableArray.js"></script>
        <script src="~/Content/Js/Externals/gsoft/gsoft.bindings.js"></script>
        <script src="~/Content/Js/Externals/gsoft/gsoft.debugging.js"></script>
        <script src="~/Content/Js/Externals/gsoft/gsoft.spa.js"></script>
        <script src="~/Content/Js/App/http.js"></script>
        <script src="~/Content/Js/App/http.command.js"></script>
        <script src="~/Content/Js/App/Dashboard/binding.lineChart.js"></script>
        <script src="~/Content/Js/App/Dashboard/module.dashboard.js"></script>
        <script src="~/Content/Js/App/Dashboard/viewmodel.dashboard.profiles.js"></script>
        <script src="~/Content/Js/App/Dashboard/viewmodel.dashboard.view.js"></script>
        <script src="~/Content/Js/App/Dashboard/Queries/component.sessionsQuery.js"></script>
        <script src="~/Content/Js/App/Dashboard/Queries/component.pagesPerSessionQuery.js"></script>
        <script src="~/Content/Js/App/Dashboard/Queries/component.timeOnSiteQuery.js"></script>
        <script src="~/Content/Js/App/module.application.js"></script>
        <script src="~/Content/Js/App/application.js"></script>

        <script>
            (function() {
                "use strict";

                ma.application.start();
            })();
        </script>
    </body>
</html>
