﻿<div class="select-profile-views">
    <ul data-bind="foreach: $root.profiles">
        <li>
            <a href="#" data-bind="text: label, action: { module: 'dashboard', name: 'view-dashboard', parameters: { profileId: profileId } }"></a>
        </li>
    </ul>
</div>