﻿<div class="view-dashboard-view">
    <a href="#" data-bind="action: { module: 'dashboard', name: 'profiles' }">Back to profiles</a>
@*    <sessions-query params="profileId: $root.profileId, selectedStartDate: $root.selectedStartDate, selectedEndDate: $root.selectedEndDate, previousStartDate: $root.previousStartDate, previousEndDate: $root.previousEndDate"></sessions-query>
    <pages-per-session-query params="profileId: $root.profileId, selectedStartDate: $root.selectedStartDate, selectedEndDate: $root.selectedEndDate, previousStartDate: $root.previousStartDate, previousEndDate: $root.previousEndDate"></pages-per-session-query>
    <time-on-site-query params="profileId: $root.profileId, selectedStartDate: $root.selectedStartDate, selectedEndDate: $root.selectedEndDate, previousStartDate: $root.previousStartDate, previousEndDate: $root.previousEndDate"></time-on-site-query>*@
    <a href="#" data-bind="click: onSynchronizeAnalyticsData.bind($root)">Synchronize</a>
</div>

@{ Html.RenderPartial("Queries/_SessionsQueryComponent"); }
@{ Html.RenderPartial("Queries/_PagesPerSessionQueryComponent"); }
@{ Html.RenderPartial("Queries/_TimeOnSiteQueryComponent"); }