﻿<script type="text/html" id="pages-per-session-query-component">
    <div class="pages-per-session-query-component dashboard-query-component" data-bind="with: $component.queryResult">
        <div class="title">
            <span data-bind="css: { 'is-better-indicator': isBetter, 'is-worst-indicator': !isBetter }">Pages Per Session</span>
        </div>
        <div class="value" data-bind="text: pagesPerSession"></div>
        <div class="chart">
            <canvas data-bind="'dashbooard.lineChart': pagesPerSessionPerDays" width="240" height="80"></canvas>
        </div>
    </div>
</script>