﻿<script type="text/html" id="sessions-query-component">
    <div class="sessions-query-component dashboard-query-component" data-bind="with: $component.queryResult">
        <div class="title">
            <span data-bind="css: { 'is-better-indicator': isBetter, 'is-worst-indicator': !isBetter }">Sessions</span>
        </div>
        <div class="value" data-bind="text: sessionCount"></div>
        <div class="chart">
            <canvas data-bind="'dashbooard.lineChart': sessionCountPerDays" width="240" height="80"></canvas>
        </div>
    </div>
</script>