﻿<script type="text/html" id="time-on-site-query-component">
    <div class="time-on-site-query-component dashboard-query-component" data-bind="with: $component.queryResult">
        <div class="title">
            <span data-bind="css: { 'is-better-indicator': isBetter, 'is-worst-indicator': !isBetter }">Time on Site</span>
        </div>
        <div class="value" data-bind="text: timeOnSite"></div>
        <div class="chart">
            <canvas data-bind="'dashbooard.lineChart': timeOnSitePerDays" width="240" height="80"></canvas>
        </div>
    </div>
</script>
